

<app-create-content (contentAdded)="receiveNewContent($event)"></app-create-content>

<h1 style="background-color: rgb(13, 228, 199); text-align: center;">Story Books</h1>
<div id="filter">
<input [(ngModel)]="findTitle"><button (click)="findContent()">Search</button>
<br>
<p [style.color]="isContentFound ? 'green' : 'red'">{{ searchResult  }}</p>
</div>
<div id="none">
<h1>No Type</h1>
<app-content-card class="none" *ngFor="let item of (contentList | contentFilter :'' )" [content]="item"  [ngClass]="{'highlight': item.title === findTitle && filterResult}" >
</app-content-card>
</div>

<div  id ="Fantacy" >
<h1>Fantacy</h1>
<app-content-card  *ngFor="let item of (contentList | contentFilter :'History' )" [content]="item" [ngClass]="{'highlight': item.title === findTitle && filterResult}" >
</app-content-card>
</div>

<div id ="Comedy">
<h1>Fiction</h1>
<app-content-card  *ngFor="let item of (contentList | contentFilter :'Comedy' )" [content]="item" [ngClass]="{'highlight': item.title === findTitle && filterResult}">
</app-content-card>
</div>